<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>design</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/zerogrid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsiveslides.css">
    <link rel="stylesheet" href="css/tabStyle.css" type="text/css">
    <link rel="stylesheet" href="css/design.css" type="text/css">

    <script src="js/jquery-latest.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery183.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // alert(location.pathname);

            // Slideshow 
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

            loadTab();
        });

        function resetTabs(obj, name) {
            if (name == ".tab1_1") {
                $(".tab1_2").hide();
                $(".tabs").find("li:first a").addClass("current");
                $(".tabs").find("li:last a").removeClass("current");
            } else {
                $(".tab1_1").hide();
                $(".tabs").find("li:first a").removeClass("current");
                $(".tabs").find("li:last a").addClass("current");
            }
            $(name).fadeIn();
        }

        function loadTab() {
            $(".content > div").hide();
            $(".tabs").each(function () {
                $(this).find("li:first a").addClass("current");//设置tab页样式
            });
            $(".content").each(function () {
                $(this).find("div:first").fadeIn();
            });
            $(".tabs a").on("click", function (e) {
                e.preventDefault();
                var name = $(this).attr("name");
                resetTabs(this, name);
            });
        }

    </script>
</head>
<body style="background-color: white;">
<div class="wrap-body">
    <header class="bg-theme">
        <div class="wrap-header zerogrid">
            <div class="row">
                <div id="cssmenu">
                    <ul>
                        <li class='active'><a href="index.html">Home</a></li>
                        <li><a href="design.html">Design</a></li>
                        <li><a href="single.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <a href='index.html' class="logo"><img src="images/logo.png"/></a>
            </div>
        </div>
    </header>

    <div>
        <div style="width: 100%;height: 50px; padding:10px;">
            <h1>Design</h1>
        </div>

        <div style="width: 99%; height: 440px; float:left; margin: 5px; text-align:center;">
            <!-- Left -->
            <div style="float:left; width: 500px;height: 430px; margin-left:50px">
                <img src="images/all-1.png" alt="">
            </div>
            <!-- Middle -->
            <div style="float:left; width: 50px; height: 430px;background-color: white;">
            </div>
            <!-- Right -->
            <div style="float:left; width: 50%; height: 430px;">
                <ul class="tabs">
                    <li><a href="#" name=".tab1_1">Change Colors</a></li>
                    <li><a href="#" name=".tab1_2">Change Logo</a></li>
                </ul>
                <div class="content">
                    <div class="tab1_1">
                        <div class="colordiv" style="background-color: red;"></div>
                        <div class="colordiv" style="background-color: yellow;"></div>
                        <div class="colordiv" style="background-color: blue;"></div>
                        <div class="colordiv" style="background-color: green;"></div>
                        <div class="colordiv" style="background-color: white;"></div>
                        <div class="colordiv" style="background-color: purple;"></div>
                        <div class="colordiv" style="background-color: black;"></div>
                    </div>
                    <div class="tab1_2">
                        Change Logo
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>