<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>design</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/zerogrid.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
    <link rel="stylesheet" type="text/css" href="css/tabStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/design.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/SyntaxHighlighter.css">
    <link rel="stylesheet" type="text/css" href="css/clothes.css">
    <link rel="stylesheet" type="text/css" href="css/xcConfirm.css"/>

    <!-- 调色板CSS -->
    <link rel="stylesheet" type="text/css" href="common/cxColor/css/jquery.cxcolor.css">

    <script type="text/javascript" src="common/jquery/jquery-latest.min.js"></script>
    <script type="text/javascript" src="common/svgmap/script.js"></script>
    <script type="text/javascript" src="common/jquery/jquery183.min.js"></script>
    <script type="text/javascript" src="common/svgmap/responsiveslides.min.js"></script>
    <script type="text/javascript" src="common/svgmap/lib/SyntaxHighlighter.js"></script>
    <script type="text/javascript" src="common/svgmap/lib/raphael-min.js"></script>
    <script type="text/javascript" src="common/svgmap/res/clothesMapConfig.js"></script>
    <script type="text/javascript" src="common/svgmap/map.js"></script>
    <script type="text/javascript" src="common/svgmap/xcConfirm.js" charset="utf-8"></script>
    <!-- layer JS -->
    <script type="text/javascript" src="common/layer/layer.js" charset="utf-8"></script>
    <!-- 调色板JS -->
    <script type="text/javascript" src="common/cxColor/js/jquery.cxcolor.js"></script>
    <!--html2canvas-->
    <script type="text/javascript" src="common/html2canvas/html2canvas.js"></script>
    
    <!-- 上传控件start-->
    <link rel="stylesheet" type="text/css" href="common/webuploader/css/webuploader.css"/>
    <link rel="stylesheet" type="text/css" href="common/webuploader/css/design_upload.css"/>
    <!-- 上传控件js -->
    <script type="text/javascript" src="common/webuploader/js/webuploader.min.js"></script>
    <script type="text/javascript" src="common/webuploader/js/design_upload.js"></script>
    <!--new logo start-->
    <!-- 上传控件初始化 -->
    <script type="text/javascript">
        $(document).ready(function () {
            picList = new Array();
            fileNum = 2;
            webuploadInit(1);
        });
    </script>
    <!-- 上传控件end-->
    <!--原js-->
    <script>
        var map;
        var click_id;

        $(function () {
            // Slideshow
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

            loadTab();

            map = $('#clothes').SVGMap({
                mapName: 'close',
                mapWidth: 500,
                mapHeight: 429,
                showTip: false,
                showName: true,
                showCapital: false,
                showOtherText: false,
                external: true,
                clickColorChange: true,
                clickCallback: function (mapData, obj) {
                    var color = obj.name.color;
                    click_id = obj.name.id;
                    $("#id").val(click_id);
                },
                unClickCallback: function (mapData, obj) {
                    click_id = obj.name.id;
                    $("#id").val(click_id);
                },
                hoverCallback: function (stateData, obj) {
                    // console.log(obj.name.id + " " + obj.name.color);
                    map.externalData["t" + obj.name.id].mouseout(function () {
                        // console.log(obj.name.id + " " + obj.name.color);
                        this.animate({
                            fill: obj.name.color
                        }, 300);
                    });
                }
            });

            initcolor();
        });

        //初始化色彩
        function initcolor() {
            var datas = closeMapConfig.names;
            for (var i in datas) {
                map.externalData[i].animate({
                    fill: datas[i].color
                }, 50);
                // console.log("===========" + i + " " + datas[i].color);
            }
        }

        function clickcolor(color) {
            click_id = 2;
            if (click_id != null) {
                map.externalData["t" + click_id].animate({
                    fill: color
                }, 250);
                closeMapConfig.names["t" + click_id].color = color;
                // console.log("click ======= " + closeMapConfig.names["t" + click_id].color);
            } else {
                var txt = "Please select a color area";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
            }
        }

        function resetTabs(obj, name) {
            if (name == ".tab1_1") {
                $(".tab1_2").hide();
                $(".tab1_3").hide();
                $(".tabs").find("li:first a").addClass("current");
                $(".tabs").find("li:eq(1) a").removeClass("current");
                $(".tabs").find("li:last a").removeClass("current");
            } else if(name == ".tab1_2"){
                $(".tab1_1").hide();
                $(".tab1_3").hide();
                $(".tabs").find("li:first a").removeClass("current");
                $(".tabs").find("li:eq(1) a").addClass("current");
                $(".tabs").find("li:last a").removeClass("current");
            } else {
                $(".tab1_1").hide();
                $(".tab1_2").hide();
                $(".tabs").find("li:first a").removeClass("current");
                $(".tabs").find("li:eq(1) a").removeClass("current");
                $(".tabs").find("li:last a").addClass("current");
            }
            $(name).fadeIn();
            uploader.refresh();
        }

        function loadTab() {
            $(".content > div").hide();
            $(".tabs").each(function () {
                $(this).find("li:first a").addClass("current");//设置tab页样式
            });
            $(".content").each(function () {
                $(this).find("div:first").fadeIn();
            });
            $(".tabs a").on("click", function (e) {
                e.preventDefault();
                var name = $(this).attr("name");
                resetTabs(this, name);
            });
        }

        //弹出颜色选择框
        function selectcolor() {
            var content = "color-div.html";

            //在这里面输入任何合法的js语句
            layer.open({
                type: 2, //Page层类型
                area: ['310px', '310px'],
                title: 'select color',
                shade: 0.6, //遮罩透明度
                anim: 1, //0-6的动画形式，-1不开启
                content: content,
                btn: ['OK', 'Cancel'],
                yes: function (index) {
                    var selectcolor = window["layui-layer-iframe" + index].callbackdata();
                    clickcolor(selectcolor);
                    layer.close(index);
                }
            });
        }


        //html2canvas
        function Show(){
            screenShot($('#addBoxes'),function (canvas,width,height) {
                document.querySelector('#screenShotImg').src = canvas;
                document.querySelector('#screenShotImg').style.width = width+"px";
                document.querySelector('#screenShotImg').style.height = height+"px";
            });
        }

        /**
         * 截图功能
         * targetDom 要克隆的目标dom元素
         * cb 回调函数
         */
        function screenShot(targetDom,cb){
            var copyDom = targetDom.clone();//克隆dom节点
            copyDom.css('display','block');
            $('body').append(copyDom);//把copy的截图对象追加到body后面
            var width = copyDom.width();//dom宽
            var height = copyDom.height();//dom高
            var scale = 2;//放大倍数
            var canvas = document.createElement('canvas');
            canvas.width = width*scale;//canvas宽度
            canvas.height = height*scale;//canvas高度
            var content = canvas.getContext("2d");
            content.scale(scale,scale);
            var rect = copyDom.get(0).getBoundingClientRect();//获取元素相对于视察的偏移量
            content.translate(-rect.left,-rect.top);//设置context位置，值为相对于视窗的偏移量负值，让图片复位
            html2canvas(copyDom, {
                allowTaint:true,
                tainTest:true,
                scale:scale,
                canvas:canvas,
                width:width,
                heigth:height,
                onrendered: function(canvas) {
                    if(cb){
                        copyDom.css('display','none');
                        cb(canvas.toDataURL("image/png"),width,height);
                    }
                }
            });
        }
    </script>
</head>
<body style="background-color: white;">
<div class="wrap-body">
    <header class="bg-theme">
        <div class="wrap-header zerogrid">
            <div class="row">
                <div id="cssmenu">
                    <ul>
                        <li class='active'><a href="index.html">Home</a></li>
                        <li><a href="design.html">Design</a></li>
                        <li><a href="single.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <a href='index.html' class="logo"><img src="images/logo.png"/></a>
            </div>
        </div>
    </header>

    <div>
        <div style="width: 99%; height: 468px; float: left; margin: 5px; text-align: center;" id="father" class="father">
            <!-- Left -->
            <div id="addBoxes" style="float:left; width: 40%;height: 533px; border:thin solid black; text-align:center;">
                <!--<div style="float:left; width: 500px;height: 433px;"></div>-->
                <div id="clothes"
                     style="width: 500px;height: 429px; background:url(images/all-1.png);margin:0 auto;position: relative;z-index: 1;"></div>
                <div id="addBox1"
                     style="margin-top:-320px; margin-left:220px; position: relative; z-index: 2;width: 40px;height: 30px;border:solid thin black;"></div>
                <div id="addBox2"
                     style="margin-top:-20px; margin-left:425px; position: relative; z-index: 3;width: 70px;height: 60px;border:solid thin black;"></div>
            </div>
            <!-- Middle -->
            <!--<div style="float:left; width: 150px; height: 429px;background-color: white;">
            </div>-->
            <!-- Right -->
            <div style="float:left; width: 60%; height: 533px; border:thin solid black;  border-left: none;">
                <ul class="tabs">
                    <li><a href="#" name=".tab1_1">Change Colors</a></li>
                    <li><a href="#" name=".tab1_2">Change Picture Logo</a></li>
                    <li><a href="#" name=".tab1_3">Change Character Logo</a></li>
                </ul>
                <div class="content">
                    <div class="tab1_1">
                        <ul class="names_tabs" style="text-align:left; margin:10px;">
                            <li>BOTTOM OPENING 下摆</li>
                            <li onClick="selectcolor();">ACROSS FT（front) 前上胸</li>
                            <li>ACROSS BK（back) 后上胸</li>
                            <li>SLEEVE OPENING 袖口</li>
                            <li>Neck finish 领边</li>
                            <li>Leg opening 脚口</li>
                        </ul>
                    </div>
                    <div class="tab1_2">
                        <div class="page-container">
                            <div id="method1">
                                <div style="text-align: left"><label>Method1:</label></div>
                                <div id="upSuccessList"></div>
                                <div id="uploader" class="wu-example">
                                    <div class="queueList">
                                        <div id="dndArea" class="placeholder">
                                            <div id="filePicker"></div>
                                        </div>
                                    </div>

                                    <div class="statusBar" style="display: none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                        <div class="btns">
                                            <div id="filePicker2"></div>
                                            <div class="uploadBtn">开始上传</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <span><a onclick='javascript: Show()'>ShowImg</a></span>
                        <br/>
                        <span><a onclick='javascript: Down()'>DownImg</a></span>
                    </div>

                    <div class="tab1_3">
                        <div id="method2">
                            <div style="text-align: left"><label style="font-size: 30px;font-family: bold;">Method2:</label></div>
                            <div id="method2-font" style="text-align: left; padding: 20px;">
                                logo-content:
                                <input id="logovalue" type="text" oninput="OnInput(event);" style="width:250px; border: thin solid black" placeholder="input your logo content"/>
                                <br/>
                                font-family:
                                <select id="font-family">
                                    <option value="Calibri">Calibri</option>
                                    <option value="Consolas" selected="selected">Consolas</option>
                                    <option value="Times New Roman">Times New Roman</option>
                                    <option value="Arial">Arial</option>
                                </select>
                                <br/>
                                font-size:
                                <select id="font-size">
                                    <option value="10">10</option>
                                    <option value="12" selected="selected">12</option>
                                    <option value="14">14</option>
                                    <option value="16">16</option>
                                    <option value="18">18</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div id="watch" style="text-align:center;">
    <a id="tttt"></a>
    <img id="screenShotImg" alt="">
</div>

<!--显示与下载png-->
<script type="text/javascript">

    $(function () {
        //字体更改选择
        $("#font-family").change(function () {
            var input = $("#addBox1").text("");
            var logovalue = $("#logovalue").val();
            var font_family = $(this).find("option:selected").text();
            var font_size = $("#font-size option:selected").text();

            var lable = '<label style="font-family: ' + font_family + ';font-size:' + font_size + 'px;">' + logovalue + '</label>';
            // alert(font_family + " " + lable);
            $("#addBox1").append(lable);
        });

        //字体大小更改选择
        $("#font-size").change(function () {
            var input = $("#addBox1").text("");
            var logovalue = $("#logovalue").val();
            var font_family = $("#font-family option:selected").text();
            var font_size = $(this).find("option:selected").text();

            var lable = '<label style="font-family: ' + font_family + ';font-size:' + font_size + 'px;">' + logovalue + '</label>';
            // alert(font_family + " " + lable);
            $("#addBox1").append(lable);
        });
        addBoxSize = getAddBoxSize(); //logo填充div数量
    });

    //输入文字logo，更改logo区域
    function OnInput (event) {
        var logovalue = event.target.value;
        var font_family = $("#font-family option:selected").text();
        var font_size = $("#font-size").find("option:selected").text();

        var id = $("#addBox1").find("div").attr("id");
        if(typeof id != "undefined" && id != null && id != ""){
            var file_id = id.slice(4);
            var file = uploader.getFile(file_id);
            console.log("===================file_id = " + file_id + " " + file.id + " size = " + file.size);
            uploader.onFileDequeued(file);
        }

        var lable = '<label style="font-family: ' + font_family + ';font-size:' + font_size + 'px;">' + logovalue + '</label>';
        var input = $("#addBox1").text("");
        input.append(lable);
    }

    function Show2() {
        var svgXml = $('.svggroup').html();
        var image = new Image();
        image.width = "500px";
        image.height = "428px";
        image.src = 'data:image/svg+xml;base64,' + window.btoa(unescape(encodeURIComponent(svgXml))); //给图片对象写入base64编码的svg流
        $("#watch").append('<img id="iimg" src="' + image.src + '" style="max-width:500px;max-heigth:428px;" />');
    }

    function Down() {
        var sampleImage = document.getElementById("iimg");
        if (sampleImage == null) {
            layer.msg("请先预览效果图（点击ShowImg） ");
            return false;
        }
        var canvas = convertImageToCanvas(sampleImage);

        url = canvas.toDataURL("image/png");//PNG格式
        //以下代码为下载此图片功能
        var triggerDownload = $("#tttt").attr("href", url).attr("download", "设计图" + new Date().getMilliseconds() + ".png");
        triggerDownload[0].click();
        //triggerDownload.remove();
    }

    function convertImageToCanvas(image) {
        var canvas = document.createElement("canvas");
        canvas.width = image.width * 1.5;
        canvas.height = image.height * 1.5;
        canvas.getContext("2d").drawImage(image, 0, 0);
        return canvas;
    }
</script>
</body>
</html>