<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>design</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/zerogrid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsiveslides.css">
    <link rel="stylesheet" href="css/tabStyle.css" type="text/css">

    <script src="js/jquery-latest.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery183.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // alert(location.pathname);

            // Slideshow 
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

            loadTab();
        });


    </script>


    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body>
<div class="wrap-body">

    <!--////////////////////////////////////Header-->
    <header class="bg-theme">
        <div class="wrap-header zerogrid">
            <div class="row">
                <div id="cssmenu">
                    <ul>
                        <li class='active'><a href="index.html">Home</a></li>
                        <li><a href="design.html">Design</a></li>
                        <li><a href="single.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <a href='index.html' class="logo"><img src="images/logo.png"/></a>
            </div>
        </div>
    </header>


    <!--////////////////////////////////////Container-->
    <div>
        <div style="width: 100%;height: 50px;border: thin solid black; padding:10px">
            <h1>Design</h1>
        </div>

        <div style="width: 99%; height: 440px; float:left; margin: 5px; text-align:center;">
            <!-- Left -->
            <div style="float:left; width: 500px;height: 430px; margin-left:50px">
                <img src="images/all-1.png" alt="">
            </div>
            <!-- Middle -->
            <div style="float:left;width: 50px;height: 430px;">
            </div>
            <!-- Right -->
            <div style="float:left;width: 50%;height: 430px;">
                <ul class="tabs">
                    <li><a href="#" name=".tab1_1">Change Colors</a></li>
                    <li><a href="#" name=".tab1_2">Change Logo</a></li>
                </ul>
                <div class="content">
                    <div class="tab1_1">
                        <div style="width:50px; height:40px; float:left; border:thin solid black; margin-left:5px; background-color: red;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: yellow;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: blue;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: green;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: white;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: purple;"></div>
                        <div style="width:50px; height:40px; float:left; margin-left:5px; background-color: black;"></div>
                    </div>
                    <div class="tab1_2">
                        Change Logo
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--////////////////////////////////////Footer-->
    <footer>
        <div class="zerogrid">
            <div class="wrap-footer">
                <div class="row">
                    <h3>Contact</h3>
                    <span>Phone / +80 999 99 9999 </span></br>
                    <span>Email / info@domain.com  </span></br>
                    <span>Studio / Moonshine St. 14/05 Light City </span></br>
                    <span><strong>Copyright &copy; 2016.Company name All rights reserved.More Templates <a
                            href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></strong></span>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>
</html>