<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper标签要指定namespace属性，不然会报错，可看做包名-->
<mapper namespace="com.mybatis.model.FundMapper">
    <select id="findFundById" parameterType="int" resultType="com.mybatis.model.Fund">
        select * from fund where id = #{id}
    </select>

    <select id="findFundAll" resultType="com.mybatis.model.Fund">
        select * from fund
    </select>

    <!-- 返回插入的数据主键值，主键需要设置为自增长，主键值自动加入到传入的实体类中 useGeneratedKeys="true" keyProperty="id"  -->
    <insert id="insertFund" useGeneratedKeys="true" keyProperty="id" parameterType="com.mybatis.model.Fund">
        insert into fund(name,code) values(#{name},#{code})
    </insert>

    <!-- 批量插入数据  -->
    <insert id="insertFundBatch" parameterType="java.util.List">
        insert into fund(name,code,price,description,datetime) values
            <foreach collection="list" item="item" index="index" separator=",">
              (#{item.name},#{item.code},#{item.price},#{item.description},#{item.datetime})
            </foreach>
    </insert>

    <delete id="deleteFundById" parameterType="int">
        delete from fund where id=#{id}
    </delete>

    <update id="updateFundPassword" parameterType="com.mybatis.model.Fund">
        update fund set name=#{name} where id=#{id}
    </update>
</mapper>